<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MyChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/main.css' %}"
    />
    <script src="{% static 'js/main.js' %}"></script>
    <style>
      body {
        background-color: #78c1f3;
      }
    </style>
  </head>
  <body>
    {% block content %} {% endblock content %}
  </body>
  <!-- <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script> -->
</html>