<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roomId</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <label for="idInput">Enter Room Id</label>
            <input type="text" name="roomid" id="idInput" placeholder="Enter Room ID">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>